<html>
    <body>
        <h1>Predicting Credit Card Default</h1>
        <form action="/" method="post">
            <p> Enter your INCOME</p>
            <p><input type="number" name="INCOME"></p>
            <p> Enter your AGE</p>
            <p><input type="number" name="AGE"></p>
            <p> Enter your LOAN</p>
            <p><input type="number" name="LOAN"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>CART: {{result1}}</p>
        <p>Random Forest: {{result2}}</p>
        <p>XGBoost: {{result3}}</p>
        <p>Linear Model: {{result4}}</p>
    </body>
</html>